<?xml version="1.0"?>
<AdminMenu_Configs>
	<!-- https://github.com/richardtracy79/System-Administrator-Run-as-Tool.git -->
	<!--Configuration File Details-->
	<Menu_Details>
		<Datail_Author>Richard Tracy</Datail_Author>
		<Detail_Title>Admin Run-As Menu</Detail_Title>
		<Detail_Version>3.9.9.1</Detail_Version>
		<Detail_Date>11/28/2016</Detail_Date>
	</Menu_Details>
	
	<Menu_Options>
		<Option_RequireAdmin>True</Option_RequireAdmin> <!-- Used in executable check-->
		<Option_RSATCheck>True</Option_RSATCheck> <!--This can take a little longer to load tool -->
		<Option_DebugMode>True</Option_DebugMode>
		<!--
		You can choose between these available accents:
			Red, Green, Blue, Purple, Orange, Lime, Emerald, Teal, Cyan, Cobalt, Indigo, Violet, 
			Pink, Magenta, Crimson, Amber, Yellow, Brown, Olive, Steel, Mauve, Taupe, Sienna
		You can choose between these available themes:
			BaseLight
			BaseDark
		-->
		<Option_Accent>Blue</Option_Accent>
		<Option_Theme>BaseLight</Option_Theme>
	</Menu_Options>
	
	<UI_Controls>
		<Control_HideAppWhenNotUsed>False</Control_HideAppWhenNotUsed> <!--This will hide the app when not the main window, the app can be opened from the task tray -->
		<Control_HideUnusedButtons>False</Control_HideUnusedButtons> <!--This will hide the any unused buttons built for each tab there are total of 26 on each tab-->
		<Control_HideCredManager>False</Control_HideCredManager><!--enabled the ability to load multple credentials; feature note working correctly -->
		<Control_HideQuickAccess>True</Control_HideQuickAccess><!--Feature not ready yet; loads a quick menu in bottom right thats on top at all times -->
		<Control_DisableUserOption>True</Control_DisableUserOption><!-- This is currently in works, when enabled user will be allow to configure settings-->
	</UI_Controls>
	
	<Menu_Configs>
		<Config_LoadModules>False</Config_LoadModules><!--preloads all psm1 files in module folder will parse all subfolders -->
		<!-- 
		the remote path is an extension off the menu, these files are required
		to work propely if remote is enabled
		REQUIRED FILES: 
			AdminMenu.ps1.config
			Adminmenu.ps1.names
		REQUIRED FOLDERS:
			Extensions
		-->
		<Config_UseRemote>False</Config_UseRemote>
		<Config_RemotePath>\\SERVER\SHARE\RemoteAdminMenu</Config_RemotePath>

		<!-- to add addtional function to the menu, add extensions file to be loaded on startup-->
		<Config_ExtensionScripts>
			<Script_FileName>AdminMenuExtensions.ps1</Script_FileName>
			<Script_FileName>AdminMenuPrereqOptions.ps1</Script_FileName>
			<Script_FileName>scripts\Invoke-Runspace.ps1</Script_FileName>
			<Script_FileName>ImageBase64Resources.ps1</Script_FileName>
			<Script_FileName>SystemFunctions.ps1</Script_FileName>
			<Script_FileName>ADFunctions.ps1</Script_FileName>
			<Script_FileName>SCCMFunctions.ps1</Script_FileName>
			<Script_FileName>ExchangeLyncFunctions.ps1</Script_FileName>
		</Config_ExtensionScripts>
	</Menu_Configs>

	<Menu_TabAndButtons>
		<!--If a button has the prereq setting, check against prereq file-->
		<TabAndButtons_CheckPrereq>True</TabAndButtons_CheckPrereq>
		<!-- Formatted as INI; start with [InstalledPath]; Used in conjuntion with AdminMenuPrereqOptions.ps1-->
		<TabAndButtons_PrereqFile>Extensions\TabControl\AdminMenu-Tabs.prereq</TabAndButtons_PrereqFile>
		<!--
		Required for Tab Extension script:
		- Script file must be placed under Extension folder (additional subfolders are allowed)
		- Scriptname must end with Tab indicator (Tab1, Tab2, etc)
		(eg: <tab id="1" name="Sys" extension="TabControl\AdminMenu-Tab1.ps1">)
		
		Special Characters to use:
		[&#xD;&#xA;] -> use in between space in name to place the next characters on the next line 
		[&amp;] -> use inplace of '&' symbol
		
		Settings:
		-You can disable a button by adding enable="false" like:
			<button id="01" Name="Powershell" bgcolor="#FF0066CC" textcolor="White" enable="false"/>
		-You can hide any tab (except the first one) by adding enable="false" like:
			<tab id="2" name="Ent" extension="TabControl\AdminMenu-Tab2.ps1" enable="false">
			NOTE: Any tabs configured without a corresponding ps1 file will automatically be hidden
		-->
		<tab id="1" name="Sys" desc="Common System Administrator functions" extension="TabControl\AdminMenu-Tab1.ps1" enable="true">
			<section1Label>System Tools</section1Label>
			<section2Label>Remote Tools</section2Label>
			<button id="01" Name="Powershell" bgcolor="#FF0066CC" textcolor="White"/>
			<button id="02" Name="Command Prompt" bgcolor="Black" textcolor="White"/>
			<button id="03" Name="Computer Management" bgcolor="#FFE3E3E3" textcolor="Black"/>
			<button id="04" Name="Microsoft Management Console" bgcolor="#FFD40000" textcolor="White"/>
			<button id="05" Name="Remote Desktop Connection" bgcolor="#FF99B4D1" textcolor="Black"/>
			<button id="07" Name="Registry" bgcolor="#FF117E00" textcolor="White"/>
			<button id="08" Name="CMtrace" bgcolor="#FFFFFFFF" textcolor="Black"/>
			<button id="11" Name="Dameware Remote Utilities" bgcolor="#FF50D450" textcolor="Black" Prereq="Dameware"/>
			<button id="12" Name="Dameware Mini Remote Control" bgcolor="#FF50D474" textcolor="Black" Prereq="Dameware"/>
			<button id="14" Name="Remotely Install Software" bgcolor="#FF6E3BB8" textcolor="White" enable="false"/>
			<button id="15" Name="Ping (to log)" bgcolor="White" textcolor="Black"/>
			<button id="16" Name="System Info (CMD)" bgcolor="#FF000000" textcolor="White"/>
			<button id="17" Name="System Info (PS1)" bgcolor="#FF0066CC" textcolor="White"/>
			<button id="18" Name="Services" bgcolor="#FF6D6D6D" textcolor="White"/>
			<button id="21" Name="Current User" bgcolor="#FFFBFAFA" textcolor="Black"/>
			<button id="22" Name="Event Viewer" bgcolor="#FFBDA27E" textcolor="Black"/>
			<button id="23" Name="Send Command" bgcolor="#FF000000" textcolor="White"/>
			<button id="24" Name="Check Disk Space" bgcolor="#FF117E00" textcolor="White"/>
			<button id="25" Name="Installed Software" bgcolor="#FF06007E" textcolor="White"/>
			<button id="26" Name="Task Manager" bgcolor="#FFFBFAFA" textcolor="Black"/>
		</tab>
		<tab id="2" name="Ent" desc="Used for Enterprise / Domain Admins" extension="TabControl\AdminMenu-Tab2.ps1" enable="true">
			<section1Label>Consoles</section1Label>
			<section2Label>Tools &amp; Scripts</section2Label>
			<button id="01" Name="Active Directory Users and Computers" bgcolor="#FFB9B553" textcolor="Black" Prereq="RSAT"/>
			<button id="02" Name="Active Directory Sites and Services" bgcolor="#FF3399FF" textcolor="White" Prereq="RSAT"/>
			<button id="03" Name="Group Policy Management Console" bgcolor="#FFFDFAB5" textcolor="Black" Prereq="RSAT"/>
			<button id="08" Name="DNS Console" bgcolor="#FFB5D9FD" textcolor="Black" Prereq="RSAT"/>
			<button id="09" Name="DHCP Console" bgcolor="#FFECBF28" textcolor="Black" Prereq="RSAT"/>
			<button id="11" Name="AD Powershell Module" bgcolor="#FF0066CC" textcolor="White" Prereq="RSAT"/>
			<button id="15" Name="Server Manager" bgcolor="#FF414141" textcolor="White" Prereq="RSAT"/>
			<button id="18" Name="Remote Desktop" bgcolor="#FFB4B4B4" textcolor="Black" />
		</tab>
		<tab id="3" name="Auto" desc="Typical tools for Automation / System Center Admins" extension="TabControl\AdminMenu-Tab3.ps1" enable="true">
			<section1Label>Consoles</section1Label>
			<section2Label>Tools &amp; Scripts</section2Label>
			<button id="01" Name="Configuration Manager Console" bgcolor="#FFDDDDDD" textcolor="Black" Prereq="SCCM"/>
			<button id="02" Name="MDT Deployment Workbench" bgcolor="#FFB83B3B" textcolor="White" Prereq="MDT"/>
			<button id="03" Name="Service Manager Console" bgcolor="#FF99B4D1" textcolor="White" Prereq="SCSM"/>
			<button id="07" Name="DaRT Remote Connection Viewer" bgcolor="white" textcolor="black"/>
			<button id="10" Name="SCCM Client Center" bgcolor="#FFACACAC" textcolor="Black"/>
			<button id="16" Name="Client Policy Spy" bgcolor="#FF6E3BB8" textcolor="White"/>
			<button id="17" Name="Client Action Tool" bgcolor="#FFEEF1F4" textcolor="Black"/>
			<button id="18" Name="Remote Desktop" bgcolor="#FFB4B4B4" textcolor="Black"/>
		</tab>
		<tab id="4" name="Exch" desc="Exchange / Unified Systems Tools" extension="TabControl\AdminMenu-Tab4.ps1" enable="true">
			<section1Label>Consoles</section1Label>
			<section2Label>Tools &amp; Scripts</section2Label>
			<button id="01" Name="Exchange Console" bgcolor="#FF127A2A" textcolor="White" enable="false"/>
			<button id="17" Name="Thumbnail Manager" bgcolor="#FF0066CC" textcolor="White"/>
			<button id="18" Name="Remote Desktop" bgcolor="#FFB4B4B4" textcolor="Black"/>
		</tab>
		<tab id="5" name="Infra" desc="Used for Infrastructure" extension="TabControl\AdminMenu-Tab5.ps1" enable="true">
			<section1Label>Consoles</section1Label>
			<section2Label>Tools &amp; Scripts</section2Label>
			<button id="01" Name="Vmware vSphere" bgcolor="#FF256631" textcolor="White"/>
			<button id="02" Name="Virtual Machine Manager Console" bgcolor="#FF3399FF" textcolor="White"/>
			<button id="07" Name="Hyper-V" bgcolor="White" textcolor="Black"/>
			<button id="15" Name="VMware Horizon Client" bgcolor="#FF6DA540" textcolor="Black"/>
			<button id="18" Name="Remote Desktop" bgcolor="#FFB4B4B4" textcolor="Black" />
			<button id="22" Name="Putty" bgcolor="#FF000000" textcolor="White"/>
		</tab>
		
		<!-- 
			There are only 24 buttons available for tab 6
				Place additional powershell scripts in the extra folder
		-->
		<tab id="6" name="Extra" desc="Additional Tools" extension="TabControl\AdminMenu-Tab6.ps1" enable="true">
			<section1Label>Extra Tools &amp; Scripts</section1Label>
			<button id="01" Name="Clipboard History" bgcolor="#FFFFFFFF" textcolor="Black"/>
			<button id="03" Name="PowerCopy GUI Tool" bgcolor="#FFA66303" textcolor="White"/>
			<button id="06" Name="Multple System Disk Space Tool" bgcolor="#FF781818" textcolor="White"/>
			<button id="07" Name="Bulk Image Convertor" bgcolor="#FFD5A41A" textcolor="White"/>
			<button id="08" Name="Password Generator" bgcolor="#FF6329AA" textcolor="White"/>
			<button id="09" Name="Network Pinger" bgcolor="#FFD138EA" textcolor="Black"/>
			<button id="10" Name="IP Calculator" bgcolor="#FFACACAC" textcolor="Black"/>
			<button id="17" Name="Lazy Admin Ultimate Workstation Tool" bgcolor="#FF06007E" textcolor="White"/>
			<button id="24" Name="Powershell Help Tree" bgcolor="#FF06007E" textcolor="White"/>
		</tab>
		
	</Menu_TabAndButtons>
	
</AdminMenu_Configs>