"global:Sysinternals","global:CmRCViewer","global:SCCMServer","global:Nirlauncher","global:Homefolder","global:Profilefolder","global:Language","global:Outfile","global:SCCMEnabled","global:SiteName","global:SCCMNameSpace"
"C:\Program Files (x86)\Sysinternals","","srv-sccm12.contoso","C:\Program Files (x86)\Nirsoft","\\$envLocalAppData\AdminMenu\","$envLocalAppData\AdminMenu\","English","","True","PRI","root\sms\site_PRI"
